body{background:#EFEAE6}
ul {letter-spacing:2.1px}
a:link{
text-decoration: none;
padding-bottom: 14px
/*border-bottom: thick dotted blue;
*/}

a:hover, a:active{background:#5BA848; color:white}
li, h2 { 
  font-size:32px;font-size: large;font-weight: bolder;
}

li:nth-child(odd) {background: #bdbdbd}
li {list-style-type:none}
li a {display:block}

@media screen and (max-width: 500px) {
ul {
text-align: center;
}

}
