body {
  overflow-x: hidden; }

.container-fluid {
  max-width: 1170px; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li,
  ol li {
    margin: 0; }

.page-title {
  margin-bottom: 15px; }
  .page-title h1 {
    margin: 0; }
  .page-title.page-title-buttons h1 {
    float: left; }
  .page-title.page-title-buttons .buttons {
    float: right;
    padding: 0;
    margin: 0;
    border-width: 0; }
  .page-title.page-title-buttons .btn {
    float: right; }

p.required {
  text-align: right;
  color: red; }

label.required {
  position: relative;
  padding-right: 10px; }
  label.required em {
    position: absolute;
    right: 0;
    color: red; }

.buttons {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  margin-top: 15px; }
  .buttons .btn {
    float: right; }
  .buttons .back {
    margin: 0;
    float: left; }
  .buttons .please-wait {
    float: right;
    margin: 0 15px 0 0; }

html {
  min-width: 320px; }

.page-cols-2 .page-cols-2-sidebar-first aside {
  float: left; }
.page-cols-2 .page-cols-2-sidebar-first article {
  float: right; }

.open-mobile-menu #page {
  -webkit-transform: translate3d(265px, 0, 0);
  -ms-transform: translate3d(265px, 0, 0);
  -moz-transform: translate3d(265px, 0, 0);
  -o-transform: translate3d(265px, 0, 0);
  transform: translate3d(265px, 0, 0);
  -webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.15);
  -ms-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.15);
  -o-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.15);
  box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.15); }
.open-mobile-menu #mobile-navigation {
  top: 0; }

@media (min-width: 992px) {
  #page {
    left: 0 !important; } }
@media (max-width: 767px) {
  #page.page-cols-2 article.col-xs-12,
  #page.page-cols-2 aside.col-xs-12 {
    float: none; } }
.col-sidebar .block {
  margin: 0 0 15px 0; }

header {
  margin: 15px 0;
  border-bottom: 1px solid #CCC; }
  header .logo {
    margin: 0; }
    header .logo strong {
      display: none; }
  header .top-cart {
    float: right;
    margin: 0 0 0 15px; }
    header .top-cart .block-title {
      cursor: pointer; }
      header .top-cart .block-title .glyphicon {
        display: block;
        float: left;
        font-size: 20px;
        line-height: 20px; }
      header .top-cart .block-title #cartHeader {
        display: block;
        float: left;
        margin-left: 5px; }
    header .top-cart #topCartContent {
      position: absolute;
      top: 30px;
      right: 10px;
      z-index: 1000;
      background: #fff;
      border: 2px solid #999;
      padding: 20px 15px 10px 15px;
      width: 300px; }
      header .top-cart #topCartContent #mini-cart {
        display: block;
        overflow: hidden;
        width: 100%; }
        header .top-cart #topCartContent #mini-cart li {
          display: block;
          overflow: hidden;
          position: relative;
          padding: 10px 5px;
          border-bottom: 1px solid #999; }
          header .top-cart #topCartContent #mini-cart li .product-image {
            float: left;
            width: 30%; }
          header .top-cart #topCartContent #mini-cart li .product-details {
            float: right;
            width: 70%; }
            header .top-cart #topCartContent #mini-cart li .product-details .product-name {
              font-weight: bold; }
          header .top-cart #topCartContent #mini-cart li .btn-remove {
            position: absolute;
            top: 5px;
            left: 5px; }
      header .top-cart #topCartContent .subtotal {
        text-align: right;
        padding: 5px;
        margin-top: 10px; }
      header .top-cart #topCartContent .actions {
        clear: both; }
        header .top-cart #topCartContent .actions .btn {
          float: right; }
      header .top-cart #topCartContent .close {
        position: absolute;
        top: 5px;
        right: 5px; }
  header .links {
    float: right; }
    header .links li {
      float: left;
      margin: 0 0 0 15px; }
  header .links-account .links li {
    margin-left: 5px; }
  header form {
    margin: 15px 0 0 0; }
  header .help-block {
    text-align: right; }

@media (max-width: 767px) {
  header form {
    margin-bottom: 15px; }
  header .logo {
    text-align: center; }
  header .quick-access {
    padding-left: 0; }
  header .top-cart {
    margin: 0; }
  header #hamburger .glyphicon {
    cursor: pointer;
    font-size: 20px;
    line-height: 20px; } }
#page {
  position: relative;
  min-width: 320px;
  background: #fff;
  z-index: 10; }

.breadcrumb {
  background-color: #fff; }

#header-menu {
  height: 58px;
  margin-top: 35px; }
  #header-menu .main-menu > li {
    position: relative;
    float: left; }
    #header-menu .main-menu > li > a {
      display: block;
      overflow: hidden;
      float: left;
      padding: 15px 10px;
      text-transform: uppercase;
      font-size: 20px; }
      #header-menu .main-menu > li > a:hover {
        text-decoration: none; }
    #header-menu .main-menu > li ul {
      border: 1px solid #999;
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.125);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.125); }
      #header-menu .main-menu > li ul a {
        display: block;
        margin-bottom: 10px;
        line-height: 1.2; }
    #header-menu .main-menu > li.active > a {
      color: #418bc9; }
  #header-menu .main-menu > li ul {
    display: none;
    position: absolute;
    top: 45px;
    left: 10px;
    z-index: 300;
    min-width: 200px;
    padding: 15px 10px 5px 10px;
    border: 1px solid #ccc;
    background: #fff; }

@media (max-width: 767px) {
  .main-menu > li {
    float: none;
    padding-right: 0; } }
.toolbar {
  margin: 15px 0; }
  .toolbar .viewer {
    float: left;
    margin: 0 15px 0 0; }
  .toolbar .sorter {
    float: left;
    margin: 0 15px 0 0; }
  .toolbar .limiter {
    float: left;
    margin: 0 15px 0 0; }
  .toolbar .amount {
    margin: 5px 15px 0 0; }
  .toolbar .pagination {
    float: right;
    margin: 0; }

.products-grid {
  margin-bottom: -15px; }
  .products-grid .item {
    margin-bottom: 15px; }
    .products-grid .item .product-name {
      margin: 10px 0 -2px 0;
      font-size: 14px; }
    .products-grid .item .price-box {
      margin: 10px 0 0 0;
      line-height: 1; }
    .products-grid .item .btn-cart {
      margin: 10px 0 0 0; }
    .products-grid .item .add-to-links {
      font-size: 12px; }
      .products-grid .item .add-to-links li {
        margin: 10px 0 0 0;
        line-height: 1; }

#cart-view #shopping-cart-totals-table {
  float: right;
  margin-bottom: 20px; }
  #cart-view #shopping-cart-totals-table tbody td {
    padding: 5px; }
  #cart-view #shopping-cart-totals-table tfoot td {
    padding: 5px;
    border-top: 1px solid #999; }
#cart-view #cart-totals .checkout-types li {
  text-align: right; }
  #cart-view #cart-totals .checkout-types li .btn {
    margin-bottom: 10px; }

footer {
  padding: 15px 0 0 0;
  border-top: 1px solid #CCC;
  margin: 30px 0 0 0; }
  footer .copyright {
    padding: 15px 0;
    border-top: 1px solid #CCC;
    margin: 15px 0 0 0; }

#scroll-to-top {
  display: none;
  position: fixed;
  right: 20px;
  top: auto;
  bottom: 20px;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  color: #333;
  background-color: #eaeaea;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  outline: none;
  z-index: 9999; }
  #scroll-to-top:hover {
    color: #eaeaea;
    background-color: #333; }

@media (max-width: 767px) {
  footer form {
    margin-bottom: 15px; } }
#mobile-navigation {
  position: absolute;
  margin-right: 5px;
  width: 250px;
  min-height: 100%;
  background: #fff;
  overflow-x: hidden;
  z-index: 1;
  margin-top: 10px; }
  #mobile-navigation .account {
    text-align: center;
    padding: 15px; }
    #mobile-navigation .account span {
      margin: 0 10px; }
  #mobile-navigation .list-view {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
    #mobile-navigation .list-view li {
      display: block;
      border-top: 1px solid #999; }
      #mobile-navigation .list-view li a {
        position: relative;
        display: block;
        padding: 15px 40px 15px 15px;
        color: #333333;
        text-shadow: 0 1px 0 #f3f3f3; }
        #mobile-navigation .list-view li a:hover, #mobile-navigation .list-view li a:active {
          text-decoration: none;
          background: #f7f7f7; }
      #mobile-navigation .list-view li.parent > a:after,
      #mobile-navigation .list-view li.parent a.back:after {
        content: '';
        position: absolute;
        display: block;
        margin-top: -11px;
        top: 50%;
        right: .5625em;
        width: 22px;
        height: 22px;
        border-radius: 1em;
        background-color: #418bc9;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-border-radius: 1em;
        -ms-border-radius: 1em;
        -moz-border-radius: 1em;
        -o-border-radius: 1em;
        border-radius: 1em; }
      #mobile-navigation .list-view li.parent a.back {
        padding: 15px 15px 15px 40px; }
        #mobile-navigation .list-view li.parent a.back:after {
          left: .5625em;
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E"); }
    #mobile-navigation .list-view ul.level0 {
      position: absolute;
      left: -300px;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 99; }
    #mobile-navigation .list-view#mobile-account-menu {
      margin-top: 20px; }

.validation-failed, input.validation-failed, select.validation-failed, .select-wrap .bootstrap-select.form-control.validation-failed, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default .filter-option, .select-wrap .bootstrap-select.mobile-device-wrapper.form-control.validation-failed, .select-wrap .bootstrap-select.mobile-device-wrapper.form-control.validation-failed .btn-default {
  border-color: #f94532;
  color: #f94532; }
  .validation-failed:active, .select-wrap .bootstrap-select.form-control.validation-failed:active, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default:active, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default .filter-option:active, .validation-failed:focus, .select-wrap .bootstrap-select.form-control.validation-failed:focus, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default:focus, .select-wrap .bootstrap-select.form-control.validation-failed .btn-default .filter-option:focus {
    border-color: #418bc9;
    color: #000; }

.validation-advice {
  margin: 5px 0 0 0;
  font-size: 13px;
  color: #f94532; }

.select-wrap {
  position: relative; }
  .select-wrap .bootstrap-select {
    position: absolute;
    top: 0;
    left: 0; }
    .select-wrap .bootstrap-select.mobile-device-wrapper {
      position: relative; }
    .select-wrap .bootstrap-select .btn.dropdown-toggle {
      padding: 0 20px 0 12px; }
      .select-wrap .bootstrap-select .btn.dropdown-toggle .filter-option {
        padding: 6px 0; }
      .select-wrap .bootstrap-select .btn.dropdown-toggle .caret {
        right: 6px; }
    .select-wrap .bootstrap-select .btn-default:hover, .select-wrap .bootstrap-select .btn-default:focus, .select-wrap .bootstrap-select .btn-default:active,
    .select-wrap .bootstrap-select .btn-default .active {
      background-color: #999;
      border-color: #999; }
      .select-wrap .bootstrap-select .btn-default:hover .filter-option, .select-wrap .bootstrap-select .btn-default:focus .filter-option, .select-wrap .bootstrap-select .btn-default:active .filter-option,
      .select-wrap .bootstrap-select .btn-default .active .filter-option {
        border-color: #999; }
  .select-wrap select.replaced {
    opacity: 0 !important; }
    .select-wrap select.replaced.mobile-device {
      opacity: 100; }

.page-cols-2.page-cols-2-sidebar-first aside {
  float: left; }
.page-cols-2.page-cols-2-sidebar-first article {
  float: right; }

@media (max-width: 767px) {
  #page.page-cols-2 article.col-xs-12,
  #page.page-cols-2 aside.col-xs-12 {
    float: none; } }
#cart-view #shopping-cart-totals-table {
  width: 100%; }
  #cart-view #shopping-cart-totals-table tbody td {
    padding: 5px;
    text-align: right; }
  #cart-view #shopping-cart-totals-table tfoot td {
    padding: 5px;
    border-top: 1px solid #999999;
    text-align: right; }

@media (max-width: 767px) {
  #cart-actions button {
    width: 100%;
    margin-bottom: 10px; }

  #cart-coupon .btn,
  #cart-giftcard .btn,
  #cart-shipping .btn,
  #cart-totals .btn {
    width: 100%; } }
#checkoutSteps .section .step-title {
  background: #eaeaea;
  padding: 15px 20px; }
  #checkoutSteps .section .step-title h2 {
    font-size: 18px;
    margin: 0; }
